* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --valid: green;
    --warning: gold;
    --danger: red;
}

body {
    background-color: rgb(22, 22, 22);
    overflow-y: hidden;
}